<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />

</head>
<body>
    <div class="wrapper">
        <div class="page-header" id="back-to-top">
            <p>@ViewBag.Title</p>
            <div class="login-menu">
                @if ( !String.IsNullOrEmpty( User.Identity.Name ) )
                {
                    <p> You logged like @User.Identity.Name </p>
                    @Html.ActionLink( "Log Out", "Logout", "Account" )
                }
                else
                {
                    <p> "You need to login" </p>
                    @Html.ActionLink("Registration", "Register", "Account")
                    @Html.ActionLink( "Log In", "Login", "Account" )
                }
            </div>
        </div>
        <div class="widget">
            <ul class="widget-list">
                <li> @Html.ActionLink( "Route List", "Index", "Route" )</li>
                <li> @Html.ActionLink( "Driver List", "Index", "Driver" ) </li>
                <li> @Html.ActionLink( "Add New Request", "AddRequest", "Request" ) </li>
                <li> @Html.ActionLink( "Add New User", "Register", "Account" ) </li>
                <li> @Html.ActionLink( "Cars", "Index", "Car" ) </li>


            </ul>

        </div>
        <div class="body-content">
            @RenderBody()
        </div>
        <footer>
            <hr />
            <p> Copyright &copy; @DateTime.Now.Year - Car Manager. All rights reserved.</p>
            <a href="#back-to-top">Back to top</a>
        </footer>
    </div>
    
    @RenderSection("Scripts", false)
</body>
</html>
