@model CarManager.Models.Identity.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/CarManagerLayout.cshtml";
}

<h2>Вход на сайт</h2>


@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Name</label><br />
            @Html.EditorFor( x => x.UserName )
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor( x => x.Password )
        </p>
        <p><button type="submit">Войти</button></p>
    </div>
}

